<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<div style="max-width: 300px; margin: 0 auto; padding: 20px; border-radius: 5px; text-align: center;">
    <img width="300px" height="80px" src="{% static 'images/logo.png' %}" alt="Logo da Attos">
    <h1 class="text-top">ONG {{ usuario.username }}</h1>
    <p class="text">Email: {{ usuario.email }}</p>
    <p class="text">Telefone: {{ user_profile.phone }}</p>
    <p class="text">Endereço: {{ user_profile.address }}</p>
    <p class="text">Ano de Fundação: {{ user_profile.year }}</p>
    <p class="text">Categoria: {{ user_profile.category }}</p>

    <p class="text" >Redes Sociais:</p>
    <ul>
        {% for profile in profiles %}
                <a href="{{ profile.instagram_link }}" target="_blank">
                    <button class="botao">{{ profile.nomeRede }}</button>
                </a>
        {% endfor %}
    </ul>
</div>