<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'page.css' %}">
    <style>
        .photo-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .photo-gallery img {
            max-width: calc(25% - 10px);
            /* Define o tamanho das imagens em colunas de 4 com margem entre elas */
            margin-bottom: 10px;
            /* Espaço entre as imagens */
        }
    </style>
</head>

<body>
    <p style="text-align: right;"><small>Última atualização em: {{ current_datetime }}</small></p>
    <div style="max-width: 300px; margin: 0 auto; padding: 20px; border-radius: 5px; text-align: center;">
        <img width="300px" height="80px" src="{% static 'images/logo.png' %}" alt="Logo da Attos">
        <h1 class="text-top">ONG {{ usuario.username }}</h1>
        <p class="text">Email: {{ usuario.email }}</p>

        <div>
            <h2>A ONG possui </h2>
            <h2>{{ quantidade_doadores }} + doadores</h2>
        </div>

        <p class="text">Redes Sociais:</p>
        <ul>
            {% for profile in profiles %}
            <a href="{{ profile.instagram_link }}" target="_blank">
                <button class="botao">{{ profile.nomeRede }}</button>
            </a>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Fotos</h2>
        <div class="photo-gallery">
            {% for foto in fotos %}
            <img src="{{ foto.foto.url }}" alt="Foto">
            {% endfor %}
        </div>
    </div>

    <h2>Deixe seu Review:</h2>
    <form method="post">
        {% csrf_token %}
        {{ review_form.as_p }}
        <button type="submit">Enviar Review</button>
    </form>

    <h2>Reviews:</h2>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <strong>Autor:</strong> {{ review.nome }}<br>
                    <strong>Comentário:</strong> {{ review.comentario }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma review disponível.</p>
    {% endif %}


    <title>Barra de Carregamento</title>
    <h1>Meta de Doação</h1>
    <p>Meta Anual: {{meta}}</p>
    <p>Valor Arrecadado: {{valor_doado}}</p>
    <progress value={{valor_doado}} max={{meta}}></progress>

</body>

</html>