body {
    font-family: Arial, sans-serif;
    background-color: #FAF7ED;
  }
  
  
  .navbar {
    background-color: #FAF7ED;
    box-shadow: 0px 0px 15px 0px #00000040;
    height: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 999;
  }
  
  
  
  .navbar ul {
    list-style-type: none;
  }
  
  
  .navbar li {
    display: inline;
  }
  
  
  .navbar li a {
    color: black;
    text-decoration: none;
  }
  
  
  .navbar li a:hover {
    background-color: #555;
  }
  
  
  .logo {
    margin-left: 25px;
    margin-top: -10px;
    margin-bottom: -15px;
    margin-right: 20px;
  }

  
.menu-item {
  margin-right: 20px;
}

  
  
  .main-container {
    max-width: 300px;
    margin: 0 auto 0 auto;
  }
  
  
  .name-login{
    text-align: center;
  }
  
  
  .esqueci-senha{
    margin-top: 5px;
    text-align: center;
    color: #0090E1;
  }
  
  
  .retangulo {
    width: 400px;
    height: 550px;
    top: 100px;
    left: 36%;
    border-radius: 17px;
    position: absolute;
    box-shadow: 0px 4px 20px 0px #00000040;
    background-color: #FAF7ED;
    border: none;
  }
  
  
  
  
  .input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  .submit {
    width: 35%;
    height: 32px;
    background-color: #327261;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }