@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.input {
  width: 100%; 
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 8px; 
  border-radius: 8px;
}

.label {
  display: block;
  margin-bottom: 8px;
}