<fieldset >
    <legend> <h3> Qual rede social deseja inserir? </h3></legend>
<form method="post" action="{% url 'instagram_button' %}">
    {% csrf_token %}
    <label>Nome</label>
    <input placeholder="Insira o nome" type="text" name ="nomeRede" id="nomeRede" required>
    <br>
    <br>
    <label for="instagram_link">Link</label>
    <input placeholder="Insira o link" type type="text" name="instagram_link" id="instagram_link" required>
    <br>
    <br>
    <input type="submit" value="confirmar">
</form>
</fieldset>